@import url('https://fonts.googleapis.com/css2?family=Alegreya+Sans:ital,wght@0,100;0,300;0,400;0,500;0,700;0,800;0,900;1,100;1,300;1,400;1,500;1,700;1,800;1,900&family=Mukta+Vaani:wght@200;300;400;500;600;700;800&family=Quattrocento:wght@400;700&display=swap');
@import "tailwindcss";

@plugin "daisyui" {
    themes: synthwave --default;
}

.alegreya-sans {
  font-family: "Alegreya Sans", sans-serif;
  font-style: italic;
}

.mukta-vaani {
  font-family: "Mukta Vaani", sans-serif;
  font-style: normal;
}

.quattrocento {
  font-family: "Quattrocento", serif;
  font-style: normal;
}